{% set panel_color = 'default' %}
{% if task.priority %}
    {% if task.priority == 'low' %}
        {% set panel_color = 'success' %}
    {% elif task.priority == 'medium' %}
        {% set panel_color = 'warning' %}
    {% elif task.priority == 'high' %}
        {% set panel_color = 'danger' %}
    {% end %}
{% end %}
<div id="{{ task.id }}" class="panel panel-{{ panel_color }}">
    <div class="panel-heading">
        <a href="{{ task.url }}" target="_blank">
            {{ task.name }}
        </a>
        <a href="#"
            id="close-{{ task.id }}"
            data-url="/task/{{ task.id }}/close"
            data-target="{{ task.id }}"
            data-cache="false"
            data-async="true"
            class="btn btn-xs btn-{% if task.status != 'complete'%}default{% else %}success{% end %} pull-right">
            <span class="glyphicon glyphicon-ok"></span> Done
        </a>
    </div>
    <div class="panel-body">
        {% if task.comments %}
            Comments:
            <ul class="list-group">
            {% for comment in task.comments %}
                <li class="list-group-item">
                    {% if comment.most_recent %}
                        <div class="pull-right"><span class="badge">Most Recent</span></div>
                    {% end %}
                    {{ comment.name }}
                </li>
            {% end %}
            </ul>
        {% else %}
            Comments: None
        {% end %}
    </div>
    <div class="panel-footer">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">Comment</span>
            <input type="text"
                   class="form-control"
                   name="comment"
                   placeholder="add simple, one line comment"
                   data-url="/task/{{ task.id }}/comment"
                   data-cache="false"
                   data-async="true"
                   data-key="comment"
                   data-target="{{ task.id }}">
        </div>
    </div>
</div>
