{% set panel_color = 'default' %}
{% if task.priority %}
    {% if task.priority == 'low' %}
        {% set panel_color = 'success' %}
    {% elif task.priority == 'medium' %}
        {% set panel_color = 'warning' %}
    {% elif task.priority == 'high' %}
        {% set panel_color = 'danger' %}
    {% end %}
{% end %}
<div id="{{ task.id }}" class="panel panel-{{ panel_color }}">
    <div class="panel-heading">
        <a href="{{ task.url }}" target="_blank">
            {{ task.name }}
        </a>
        {% if task.closeable %}
            <a href="#"
                id="close-{{ task.id }}"
                data-url="/task/{{ task.id }}/close"
                data-target="{{ task.id }}"
                data-cache="false"
                data-async="true"
                class="btn btn-xs btn-{% if task.status != 'complete'%}default{% else %}success{% end %} pull-right">
                <span class="glyphicon glyphicon-ok"></span> Done
            </a>
        {% end %}
    </div>
    <div class="panel-body">
        {% if task.comments %}
            Comments:
            <div class="timeline-centered">
            {% for comment in task.comments %}
                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon {% if comment.most_recent %}bg-success{% else %}bg-info{% end %}">
                            <i class="fa fa-comment fa-2x"></i>
                        </div>

                        <div class="timeline-label">
                            <p>{{ comment.name }}</p>
                        </div>
                    </div>
                </article>
            {% end %}
        </div>
        {% else %}
            Comments: None
        {% end %}
    </div>
    <div class="panel-footer">
        {% if task.commentable %}
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Comment</span>
                <input type="text"
                       class="form-control"
                       name="comment"
                       placeholder="add simple, one line comment"
                       data-url="/task/{{ task.id }}/comment"
                       data-cache="false"
                       data-async="true"
                       data-key="comment"
                       data-target="{{ task.id }}">
            </div>
        {% end %}
    </div>
</div>
